[include]
	path = ~/.gitconfig.local
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
[cola]
	spellcheck = false
[init]
	defaultBranch = master
[user]
	name = Leandro Poblet
	email = leandropoblet@gmail.com
[pull]
	rebase = true
