[Unit]
Description=Restic Home Backup Service
After=network.target
Wants=network.target

[Service]
Type=oneshot
EnvironmentFile=/etc/restic/home.repo.env

# Define fallback environment variables for Restic
Environment="HOME=/root"
Environment="RESTIC_CACHE_DIR=/var/cache/restic"

ExecStart=/usr/local/bin/restic-home-backup
Nice=19
IOSchedulingClass=idle
TimeoutStartSec=12h
PrivateTmp=true
ProtectSystem=true
ReadWritePaths=/mnt/backups/fedora
StandardOutput=file:/var/log/restic-home-backup.stdout
StandardError=file:/var/log/restic-home-backup.stderr
NotifyAccess=all

[Install]
WantedBy=default.target
