[Unit]
Description=Restic System Backup Service
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=root
EnvironmentFile=/etc/restic/system.repo.env
ExecStart=/root/scripts/backups/restic-system-backup
Nice=19
IOSchedulingClass=idle
TimeoutStartSec=12h
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths=/mnt/backup/system

[Install]
WantedBy=multi-user.target
