[Unit]
Description=Run Obsidian Remote Backup Every Hour

[Timer]
OnBootSec=10min
OnUnitActiveSec=60min
Persistent=true

[Install]
WantedBy=timers.target
